# Build output
bin/
obj/
publish/

# Visual Studio
.vs/
*.user
*.suo

# Rider / VS Code (indien aanwezig)
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# .env
.appdata/
.dotnet/
.nuget/
run.stdout.log
run.stderr.log
